$width: 0.5;
$height: 0.8;

#demo-test {
  transform: scale($width, $height);
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0% {
    left: 0px;
  }

  50% {
    left: 200px;
  }

  100% {
    left: 0px;
  }

}